/* MOBILE FIRST */
header{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo img{
	width: 360px;
}

ul,
.menu-fechar{
   display: none;
}

.menu-ativo ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: bottom 0.4s ease-out;
}

.menu-abrir,
.menu-fechar{
   font-size: 2rem;
   animation: aparece 1s;
}

.planos ul{
   display: flex;
   flex-direction: column;
}

nav{   
   margin-bottom: .75rem;
   transition: bottom 0.4s ease-out;
}

ul{
   animation: aparece 1s;
}

ul li{
   font-size: 215%;
   padding: .45em;

      
}

.menu-ativo .menu-fechar{
   display: inline-block;
}

.menu-controle-responsivo{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 1em;
   padding-top: 1.5em;
}

.slider img{
	width: 100%;
}
.slider, footer{
	text-align: center;
}

.main{
   margin: 0 auto;
   padding-top: 1em;
   padding-bottom: 1em;
   display: flex;
   flex-direction: column;   
   width: 90%;
}

.apresentacao p{
   text-align: justify;
   font-size: 120%;
   padding-top: 1em;
}

.mapa{
   padding-top: 1.5em;
   padding-bottom: 2em;
}

.mapa p{
   text-align: center;
   padding-bottom: 1em;
}

footer{
	width: 100%;
	position: static;
	padding-top: 3rem;
	padding-bottom: 3rem;
	bottom: 0;
}

footer p{
   font-family: "Arial", sans-serif;
   line-height: 2em;
}

@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}

/* DESKTOP */
@media(min-width: 1366px){
	header{
   		display: flex;
   		flex-direction: row;
   		justify-content: space-between;
   	}

      .menu-abrir,
      .menu-fechar{
         display: none;         
      }     
   	
   	.menu li{
   		display: inline-block;
   	}
   	
   	.menu a{
   		padding-right: 2rem;
   	}

      .planos ul{
         display: flex;
         flex-direction: row;
      }

      .main{
         width: 95%;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
      }

      .apresentacao,
      .mapa{
         width: 45%;
      }
   	
   	footer{                 
   		position: relative;
         display: flex;
         justify-content: space-between;
   	}

      footer div{
         width: 100%;      
         
      }      

      ul{
         display: inline-block;
      }
      
}